<div class="container">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a routerLink="/" class="p-mr-5" style="margin-right: 30px">
        <img src="assets/apple.png" height="40" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <a (click)="modal.toggleModal(true)" >
        <i
          class="pi pi-user"
          [ngStyle]="{ color: 'var(--bluegray-50)' }"
          style="font-size: 1.5rem"
        ></i
      ></a>
    </ng-template>
  </p-menubar>
</div>
